/framework/FactorialREST/dist/
/framework/PersonasMVC[[]1]/PersonasMVC/dist/
/practicos/Dictionary/nbproject/private/
/practicos/Dictionary/build/
/practicos/Dictionary/dist/
/practicos/WebServicesTeam/nbproject/private/
/practicos/WebServicesTeam/build/
/practicos/WebServicesTeam/dist/
/RESTfulAuth/RESTful Service Authentication/nbproject/private/
/RESTfulAuth/RESTful Service Authentication/build/
/RESTfulAuth/RESTful Service Authentication/dist/
*/target/**
/framework/FeriadosRest/target/
FeriadosMVC3.zip
FeriadosRest.zip
Final Popa/
MVC3.zip
framework/EL-JSTL/
framework/FactorialREST/
framework/FeriadosRest.rar
framework/FeriadosRest/jdbc/
framework/FeriadosRestClient/target/
jdk-8u60-windows-x64.exe
practicos/Dictionary/
practicos/WebServicesTeam/
sqljdbc_4.0/
trabajo-final.pdf
consignas final dise\303\261o 8.pdf
AndroidProject/Chat/.idea/
/framework/ChatRest/target/
/framework/ChatMVC3/build/
/framework/ChatMVC3/dist/
/framework/FeriadosMVC3/nbproject/private/
/framework/FeriadosMVC3/build/
/framework/FeriadosMVC3/dist/
/framework/ChatMVC3/nbproject/private/