/framework/FactorialREST/dist/
/framework/PersonasMVC[[]1]/PersonasMVC/dist/
/practicos/RestService/target/
/practicos/Dictionary/nbproject/private/
/practicos/Dictionary/build/
/practicos/Dictionary/dist/
/practicos/WebServicesTeam/nbproject/private/
/practicos/WebServicesTeam/build/
/practicos/WebServicesTeam/dist/
/FeriadosRest/target/
/framework/FeriadosRestClient/target/