@CHARSET "ISO-8859-1";

html, body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 10pt;
    color: #000;
}

#error {
	width: 500px;
  	height: 200px;
 	position: absolute;	
	top: 50%;
	left: 50%;
	margin-top: -130px;
	margin-left: -280px;
	border: 1px solid #000;
	padding: 30px;
	background-color: #FF9966;
}

#message {
	border: 1px solid #f00;
	padding: 4px;
	color: #f00;
	display: none;
	margin-bottom: 15px;
}

#response,#executing {
	display: none;
}

h1 {
    font-size: 14pt;
}

h2 {
    font-size: 13pt;
}

h3 {
    font-size: 12pt;
}

table {
	border-spacing: 1px;
}

table thead, th {
    background-color: #0066CC;
    color: #fff;
    font-weight: bold;
}

table tbody {
    background-color: #9999FF;
    color: #000;
}

table tfoot {
    background-color: #0066CC;
    color: #fff;
}

td, th	 {
    padding: 4px;
}

a {
    color: #000066;
    cursor: pointer;
    text-decoration: underline;
}

.width400 {
	width: 400px;
}

.width700 {
	width: 700px;
}

.fl {
	float: left;
}

.fr {
	float: right;
}
